/*---------------My variables*---------------*/
/*---------------My variables*---------------*/
/*---------------My Inheritances-------------*/
h1, h2, .warrior img, #logo, #logo-small, .button, .button-sm, .soilder-text-wrapper, #soilder-big, .score, #player, .up, .down { display: flex; align-items: center; justify-content: center; }

.button, .button-sm, .chartext { -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }

/*---------------My Inheritances-------------*/
* { margin: auto; padding: 0px; }

body { background-image: url(../images/background_3.jpg); background-position: center; height: 100vh; width: 100vw; overflow: hidden; position: relative; font-family: "Segoe UI"; }

h1 { font-size: 37px; font-family: almaq-rough, sans-serif; font-weight: 400; font-style: normal; color: #CEF249; }

h2 { font-family: almaq-rough, sans-serif; font-weight: 400; font-style: normal; color: #CEF249; font-size: 50px; }

.warrior { width: 100%; }

.warrior img { z-index: -3; width: 190px; height: 190px; }

#logo-small { padding-top: 10px; width: 30%; }

.splash-l { z-index: -2; position: absolute; left: 0px; height: 60vh; }

.splash-r { position: fixed; right: 0px; height: 60vh; width: auto; z-index: -4; overflow-x: hidden; }

#dirt-small, #dirt-big { width: 100%; position: absolute; bottom: 0px; max-height: 40%; z-index: -1; }

a { text-decoration: none; }

.button, .button-sm { position: relative; border: none; background-color: #BF1B24; background-image: url(../images/mud-small.png); height: 50px; border-radius: 30px; z-index: 9; color: #480000; font-family: almaq-rough, sans-serif; }

.button { width: 50%; font-size: 30px; margin-top: 10%; }

.button-sm { font-size: 25px; width: 100%; }

.soilder-text-wrapper { position: relative; flex-direction: column; }

.soilder-text-wrapper a { width: 50%; margin-top: -10px; }

#soilder-big { width: 100%; z-index: 5; }

#soilder-big svg { width: 60%; height: auto; }

.chartext { border-radius: 25px; width: 80%; background-color: #E4E4E4; margin-top: -20px; }

.chartext p { font-size: 15px; padding: 15px; }

.score { color: #222625; font-size: 100px; font-family: almaq-rough, sans-serif; background-repeat: no-repeat; background-position: center; width: 170px; height: 170px; border-radius: 50%; border: #BF1B24 15px solid; background-color: white; margin-top: 40px; }

#player { position: absolute; width: 80%; height: auto; left: 10%; right: 10%; bottom: 26%; z-index: 5; }

.arrows { margin: auto; position: absolute; display: flex; flex-direction: row; justify-content: space-between; width: 100%; bottom: 50px; z-index: 4; }

.up, .down { border-radius: 50%; background-image: url(../images/mud-small.png); background-color: white; border: #1BBF44 8px solid; width: 60px; height: 60px; }

.arrows img { width: 70%; height: auto; flex-direction: column; }

.up img { transform: rotate(90deg); }

.down img { transform: rotate(-90deg); }

.popup { opacity: 100%; position: absolute; z-index: 15; background-color: rgba(0, 0, 0, 0.7); height: 100%; width: 100%; transition: 2s; padding-top: 20px; }

.popup.hide { display: none; }

#button-del { width: 50%; margin-top: -10px; }
