/*---------------My variables*---------------*/
$red: #BF1B24;
$btn-red: #480000;
$white: #E4E4E4;
$h-color: #CEF249;
$dark: #222625;
/*---------------My variables*---------------*/

/*---------------My Inheritances-------------*/
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%shadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}
/*---------------My Inheritances-------------*/
*{
  margin: auto;
  padding: 0px;
}

body {
  background-image: url(../images/background_3.jpg);
  background-position: center;
  height: 95vh; /*notch in bottom of smartphone that takes up about 5%*/
  width: 100vw;
  overflow: hidden;
  position: relative;
  font-family: "Segoe UI", sans-serif;
}

h1, h2{
  font-family: almaq-rough, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $h-color;
  @extend %center;
}
h2 {
  font-size: 50px;
}
h1 {
font-size: 37px;

}
.warrior{
  width: 100%;
}
.warrior img{
  z-index: -3;
  width: 190px;
  height: 190px;
  @extend %center;
}


#logo {
  @extend %center;
}

#logo-small {
  padding-top: 10px;
  @extend %center;
  width: 30%;
}

.splash-l {
  z-index: -2;
  position: absolute;
  left: 0px;
  height: 60vh;
}
.splash-r {
  position: fixed;
  right: 0px;
  height: 60vh;
  width: auto;
  z-index: -4;
  overflow-x: hidden;
}

#dirt-small, #dirt-big {
  width: 100%;
  position: absolute;
  bottom: 0px;
  max-height: 40%;
  z-index: -1;
}

a {
  @extend %center;
  text-decoration: none;
}

.button, .button-sm, .button2 {
  position: relative;
  @extend %center;
  border: none;
  background-color: $red;
  background-image: url(../images/mud-small.png);
  height: 50px;
  border-radius: 30px;
  z-index: 9;
  color: $btn-red;
  font-family: almaq-rough, sans-serif;
  @extend %shadow;
}
.button {
  width: 50%;
  font-size: 30px;
  margin-top: 8%;
  position: absolute;
}
.button-sm {
  font-size: 25px;
  width: 100%;
}
.soilder-text-wrapper {
  position: relative;
  @extend %center;
  flex-direction: column;
  a {
    width: 50%;
    margin-top: -10px;
  }
}

#soilder-big, #soilder-big2 {
  @extend %center;
  width: 100%;
  z-index: 5;
}
#soilder-big {
  svg {
    width: 60%;
    height: auto;
  }
}
#soilder-big2 {
  svg {
    width: 40%;
    height: auto;
  }
}

.chartext {
  border-radius: 25px;
  width: 80%;
  background-color: $white;
  z-index: 2;
  border-radius: 25px;
  margin-top: 100px;
  text-align: center;
  p {
  font-size: 2.2vh;
  padding: 15px;
  }
margin-top: -20px;
@extend %shadow;
}

.score{
  color: $dark;
  font-size: 100px;
  font-family: almaq-rough, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: $red 15px solid;
  background-color: white;
  margin-top: 40px;
  @extend %center;

}

#player{
  position: absolute;
  width: 80%;
  height: auto;
  @extend %center;
  left: 10%;
  right: 10%;
  bottom: 26%;
  z-index: 5;
}

/* game.html */
.arrows{
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  bottom: 50px;
  z-index: 4;
}
.up, .down{
border-radius: 50%;
background-image: url(../images/mud-small.png);
background-color: white;
border: #1BBF44 8px solid;
width: 60px;
height: 60px;
  @extend %center;
}

.arrows img{
  width: 70%;
  height: auto;

  flex-direction: column;
}
.up img{
    transform: rotate(90deg);
}

.down img{
    transform: rotate(-90deg);
}

.timer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.timer img{
  width: 35px;
}

.timer span{
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.popup{
  opacity: 100%;
  position: absolute;
  z-index: 15;
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
    transition: 2s;
    padding-top: 20px;
}

.popup.hide{
  display: none;
}

#button-del{
  width: 50%;
  margin-top: -10px;
}

.loser, .middle, .winner{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  padding-top: 20px;
  z-index: 14;
  display: none;
}

.show{
  display: flex;
}

/* game.html slut*/

.charwrap{
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 250px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 30px;
}
.charinner{
  width: 45%;
  height: 90%;
}
.spiller{
  height: 70%;
  width: 50%;
}
.button2 {
  margin-top: 10%;
  width: 80%;
  border-radius: 30px;
  font-size: 30px;
}
 
